* {
    box-sizing: content-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgreen;
}
/* Header Stlyes*/
main {
    display: flex;
    flex-wrap: wrap;
}
header {
    display: flex;
    background-color: palegoldenrod;
    justify-content: space-around;
    padding: 30px 0;
}

header h1 {
    color: lightgreen;
    font-size: 50px;
    font-weight: 500;
}
/* Body/section alignment and positioning */
section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
/* Search Area stlyes */
#search {
    margin: 30px 100px;
}
#search input[type=text] {
    color: blue;
    font-size: 18px;
    width: 100%;
    border: 2px solid black;
}
#search input[type=text]:focus {
    outline: none;
}
#search h2 {
    font-size: 24px;
    color: peachpuff;
}
#search input[type=submit]:hover {
    background-color: blue;
    cursor: pointer;
}
#search div {
    display: flex;
    flex-direction: column;
}
#input {
    padding: 10px;
    border: 5px solid goldenrod;

}

/*Todays Forecast styles*/
#todaysForecast {
margin-top: 15px;
margin-bottom: 10px;
color: purple;
width: 300%;
border: 10px solid goldenrod;
}

#todaysForecast h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: purple;
    width: 100%;
    border-top: 6px solid goldenrod;
    }

/*Forecast Cards styles*/
#results {
    margin: 30px 100px;

}
#projectedForecast {
    color: purple;
    width: 100%;
}
.placeholder {
    margin-top: 15px;
    margin-bottom: 10px;
    color: purple;
    width: 100%;
    border: 7px solid palegoldenrod;
    text-align: center;
}
#projectedForecast h5 {
    color: purple;
    width: 100%;
    border: 3px solid palegoldenrod;
    text-align: center;
    justify-content: center;
}
/*Forecast Cards styles end (for now)*/















/* Media queries for mobiel application deployment*/
/* Small Desktop screens and smaller */
@media screen and (max-width: 980px) {
    #searchSection {
        margin: 20px 40px;
    }

    #searchSection h3 {
        font-size: 26px;
    }

    #searchSection input[type=text] {
        font-size: 18px;
    }

    #resultSection {
        margin: 20px 40px 20px 0;
    }

    #currentForecast h1 {
        font-size: 4vw;
    }

    #currentForecast p {
        font-size: 2vw;
    }

    #fiveDayForecast {
        justify-content: start;
    }

    .weatherCard {
        max-width: 180px;
        padding: 5px 20px 15px 20px;
        margin: 5px;
    }

    .weatherCard h3 {
        font-size: 1.8vw;
    }

    .weatherCard p {
        font-size: 1.5vw;
    }
}

/* Tablets and smaller devices */
@media screen and (max-width: 768px) {
    .mb-15 {
        margin-bottom: 8px;
    }

    header h1 {
        font-size: 24px;
    }

    #searchSection {
        margin: 15px 20px;
    }

    #searchSection h3 {
        font-size: 14px;
    }

    #searchSection input[type=text] {
        font-size: 16px;
        padding: 5px;
    }

    #searchSection input[type=submit] {
        font-size: 12px;
        padding: 5px;
    }

    .history {
        font-size: 16px;
        padding: 5px;
    }

    #resultSection {
        margin: 10px 20px 10px 0;
    }

    #currentForecast p {
        font-size: 2vw;
    }

    #fiveDayForecast {
        justify-content: start;
    }

    .weatherCard {
        max-width: 180px;
        padding: 5px 20px 15px 20px;
        margin: 5px;
    }

    .weatherCard h3 {
        font-size: 1.8vw;
        border-bottom: none;
        margin-bottom: 0;
    }

    .weatherCard p {
        font-size: 1.8vw;
    }

    .weatherCard img {
        width: 25%;
    }
}

/* smartphones and smaller devices */
@media screen and (max-width: 575px) {
    main {
        flex-direction: column;
    }

    #searchSection {
        flex-direction: row;
        max-height: 100px;
    }

    #searchSection div {
        margin: 0 10px;
    }

    #userInput {
        border-bottom: none;
    }

    #searchHistory {
        flex-wrap: wrap;
        max-height: 110px;
    }

    .history {
        padding: 2px 8px;
        margin-right: 5px;
    }

    #resultSection {
        margin-left: 20px;
    }

    #currentForecast h1 {
        font-size: 5vw;
    }

    #currentForecast img {
        width: 10%;
    }

    #currentForecast p {
        font-size: 3vw;
    }

    .weatherCard {
        padding-top: 10px;
        max-width: 130px;
    }

    .weatherCard h3 {
        font-size: 2vw;
    }

    .weatherCard img {
        width: 45%;
    }

    .weatherCard p {
        font-size: 2vw;
    }
}